p,h2
{
  margin: 0;
}
button{
  background-color: darkslategray;
  color: #FFFF;
  border-radius: 50px;
}
.deleteBtn{
  background-color:crimson;
}
// app-img{} no podemos modificar un componente desde aqui


